Add style rules for the img tag to make it responsive to the size of its container. It should display as a block-level element, 
it should fit the full width of its container without stretching, and it should keep its original aspect ratio.

<style>
  .imgResponsive {
    height: auto;
    display: block;
    max-width: 100%;
  }
</style>

<img class="imgResponsive" src="https://s3.amazonaws.com/freecodecamp/FCCStickerPack.jpg" alt="freeCodeCamp stickers set">
