.header {
  font-size: 60px;
  font-family: Monospace;
  background-color: black;
  color: white;
  border: 5px solid blue;
  padding: 5px;
  margin: 60px 60px 30px 60px;
}
.title {
  color: Cornflowerblue;
  font-size: 80px; 
  font-family: cursive Monospace; 
  font-weight: bolder; 
}
.img {
    display: block; 
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    width: 30%;
}
body {
  background-color: silver; 
  text-align: center; 
}
ul { 
  font-size: 17px;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

